@import '../utils/tmp.scss';

.diskWrapper {
    height: 90vh;

    // background-color: #111827;
    background-color: #171717;

    position: relative;
    overflow: hidden;
    overflow-y: auto;
    .diskBackgroundImg {
        display: none; //!
        filter: brightness(30%);
        @extend %backgroundPic;
    }
    
    .diskControlBtns {
        width: 100%;
        height: 7vh;
        display: flex;
        align-items: center;
        justify-content: baseline;
        box-sizing: border-box;
        gap: 10px;
        padding-left: 30px;
        .diskCreateFolderTxt {
            @extend %secondFont;
        }
        .diskUpload {
            @extend %secondFont;
        }
        .diskOrder {
            * {
                @extend %secondFont;
            }
        }
        .searchFiles {
            width: 20%;
            * {
                @extend %mainFont;
            }
        }
        .visual {
            width: 8%;
            display: flex;
            justify-content: space-evenly;
            z-index: 0;
            .visualByList {
                font-size: 20px;
                color: white;
                transition: transform 0.2s ease-out;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
            .visualByFile {
                font-size: 20px;
                color: white;
                transition: transform 0.2s ease-out;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                    
                }
            }
        }
        .breadcrumb {
            overflow-y: auto;
            & * {
                color: white;
                @extend %mainFont;
            }
        }
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}


@media screen and (max-width: 992px) {
    .disk-nav {
        .diskControlBtns {
            height: auto;
            padding: 10px;
            box-sizing: border-box;
            display: grid;
            grid-template-columns: 1fr 3fr 3fr;
            grid-template-rows: 1fr 1fr;
            .searchFiles {
                width: 100%;
            }
            .visual {
                width: 100%;
            }
            .breadcrumb {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .disk-nav { 
        .diskControlBtns {
            .disk-order {
                width: 70px;
            }
            .diskUpload, upload-btn {
                width: 90%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            .visual {
                width: 80px;
            }
        }
    }
}