@import '../utils/tmp.scss';

.profileWrapper {
    width: 100%;
    height: 90vh;
    min-height: 100%;
    box-sizing: border-box;
    background-color: #111827;
    @extend %centerTemplate;

    .profileContent {
        @extend %centerTemplate, %content-max;

        .profileMainCard {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            width: 90%;
            height: 90%;
            border-radius: 15px;
            background-color: white;
            .profileLeftSide {
                height: 100%;
                width: 30%;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                img {
                    width: 200px;
                    border-radius: 10px;
                }
                .profileBtns {
                    display: flex;
                    gap: 15px;
                
                }
                .avatarUploader {
                    max-width: 100px;
                    * {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                } 
            }
            .profileRightSide {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                width: 70%;
                height: 100%;
                background-color: #2563eb;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                flex-direction: column;
                justify-content: space-evenly;
                .profileName {
                    border: 2px solid white;
                    border-radius: 10px;
                    margin-top: 10px;
                    padding: 10px;
                    width: 30%;
                }
                p, a, h1, span, div {
                    color: white;
                    @extend %secondFont;
                }
                .profileStat {
                    div, a, p, span {
                        color: black;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .profileWrapper {
        height: auto;
        .profileMainCard {
            flex-direction: column !important;
            margin-top: 20px;
            margin-bottom: 20px;
            .profileLeftSide {
                padding: 20px;
                box-sizing: border-box;
                img {
                    padding: 10px;
                }
            }
            .profileRightSide {
                width: 100% !important;
                border-bottom-left-radius: 10px;
                padding: 20px;
                box-sizing: border-box;
                gap: 30px;
            }
        }
    }
}