@import '../utils/tmp.scss';

.allFile-viewer {
    display: flex;
    justify-content: center;
    .playerIcon {
        align-self: center;
        font-size: 250%;
        color: white;
        box-sizing: border-box;
        padding: 8px;
        border-radius: 10px;
    }
}

.playerModal-file-viewer {
    //width: 50% !important; //Sorryy!!!!! i dont know why it doesnt work without this
    display: flex;
    align-items: center;
    justify-content: center;
    .mainPlayer {

    }
}