@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
@import '../utils/tmp.scss';

.navbar {
    width: 100%;
    height: 9vh;
    background-color: #434343;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    .user-info {
        @extend %centerTemplate;
        gap: 15px;
        background-color: white;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
        p {
            color: black;
            @extend %mainFont;
            font-size: 14px;
        }
    }
    .user-info:hover {
        background-color: #1677ff;
        color: white;
        p {
            color: white;
        }
    }
    .main-logo img{
        width: 100px;
        height: 80px;
        margin-left: 20px;
    }
    a {
        text-decoration: none;
        color: white;
        font-family: 'Sono', sans-serif;
        font-size: 14px;
        text-transform: lowercase;
    }
    .nav__items {
        width: 60%;
        @extend %centerTemplate;
        justify-content: space-around;
    }
}