@import "../utils/tmp.scss";

.contentMax {
  @extend %content-max;
}

.welcomeWrapper {
  position: relative;

  .welcomeAnchor {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;

    * {
      @extend %secondFont;
    }

    a {
      padding: 4px;
      border-radius: 4px;
      color: white !important;
      text-align: center;
      background-color: #1890ff;
    }
  }

  .welcomeMain {
    width: 100wh;
    height: 90vh;
    position: relative;
    background-color: white;
    @extend %centerTemplate;

    .contentMax {
      @extend %content-max, %centerTemplate;
      flex-direction: column;
    }

    .welcomeBackgroundImg {
      @extend %backgroundPic;
    }

    .welcomeCard {
      box-sizing: border-box;
      padding: 20px;
      width: 80%;
      height: 60%;
      z-index: 1;
      border-radius: 10px;
      display: flex;

      .leftSide {
        @extend %centerTemplate;
        flex-direction: column;
        justify-content: space-evenly;

        .welcomeTitle {
          font-size: 48px;
          color: white;
          box-sizing: border-box;
          padding: 10px;
          border-radius: 10px;
          margin-top: 20px;
          background-color: #38bdf8;
          @extend %secondFont, %shadowTemplate;
          &:hover {
            cursor: default;
          }
        }

        .welcomeDescription {
          font-size: 22px;
          margin-top: 10px;
          color: white;
          width: 80%;
          line-height: 30px;
          border-radius: 10px;
          padding: 8px;
          @extend %mainFont;
          &:hover {
            cursor: default;
          }
        }
      }

      .rightSide {
        @extend %centerTemplate;
        img {
          width: 350px;
          border-radius: 10px;
        }
      }
    }

    .wave {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      height: 100%;

      use {
        animation: move-forever 4s linear infinite;

        &:nth-child(2) {
          animation-duration: 5s;
          animation-delay: -1.5s;
        }

        &:nth-child(1) {
          animation-duration: 5s;
        }
      }

      @keyframes move-forever {
        0% {
          transform: translate(-2px, 0);
        }

        100% {
          transform: translate(0px, 0);
        }
      }
    }
  }

  .welcomeMore {
    height: 100vh;
    width: 100%;
    background-color: black;
    overflow: hidden;

    position: relative;
    z-index: 0;

    @extend %centerTemplate;
    flex-direction: column;
    .moreTitle {
      width: 300px;
      height: 50px;
      color: white;
      border-bottom: 1px solid white;
      font-size: 24px;
      @extend %centerTemplate, %secondFont;
    }
    .moreContent {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .moreDesktopCard,
      .moreMobileCard {
        z-index: 1;
        width: 30%;
        height: 70%;
        background-color: white;
        overflow: hidden;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        justify-content: space-evenly;
        padding: 10px;
        padding-top: 18px;
        gap: 10px;
        img {
          width: 40%;
          height: 150px;
        }
        .moreDescription {
          padding: 10px;
          @extend %mainFont;
        }
      }
    }
  }
}

.welcomeAbout {
  height: 100vh;
  width: 100%;
  background-color: #22075e;
  @extend %centerTemplate;
  flex-direction: column;
  .aboutTitle {
    width: 300px;
    height: 50px;
    color: white;
    border-bottom: 1px solid white;
    font-size: 24px;
    @extend %centerTemplate, %secondFont;
  }
  .contentMax {
    @extend %content-max;
  }
  .aboutContent {
    overflow: hidden;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .aboutDescription {
      line-height: 30px;
      height: 80%;
      padding: 10px;
      font-size: 18px;
      width: 50%;
      border-radius: 10px;
      color: white;
      text-align: left;
      @extend %centerTemplate, %mainFont;
    }
    .aboutLinks {
      height: 80%;
      width: 40%;
      @extend %centerTemplate;
      flex-direction: column;
      justify-content: space-evenly;
      .aboutSignature {
        color: #fee2e2;
        font-size: 24px;
        @extend %secondFont;
      }
      .storageLogo, img {
        width: 300px;
      }
      .socials {
        display: flex;
        width: 50%;
        @extend %centerTemplate;
        justify-content: space-evenly;
        .socialsItem {
          img {
            width: 50px;
          }
        }
      }
    }
  }
}

// adaptive
@media screen and (max-width: 992px) {
  .welcomeMain {
    height: auto !important;
  }

  .welcome-Anchor {
    display: none;
  }

  .welcomeCard {
    flex-direction: column;
    .welcomeTitle {
      margin-bottom: 20px;
    }
    .welcomeDescription {
      display: none;
    }
  }

  .welcomeMore {
    height: auto !important; //FIXME
    .moreContent {
      flex-direction: column;
      .moreDesktopCard,
      .moreMobileCard {
        margin: 20px;
        width: 65% !important; //FIXME
        gap: 30px !important;
      }
    }
  }
  .welcomeAbout {
    height: auto !important;
    .aboutContent {
      flex-direction: column !important;
      .aboutDescription {
        width: 90% !important;
      }
      .aboutLinks {
        width: 100% !important;
        .aboutSignature {
          padding: 20px;
        }
        .socials {
          width: 70% !important;
        }
      }
    }
  }
}
